<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-footer">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
        
                        <div class="collapse navbar-collapse" id="navbar-collapse-footer">
                            <form class="nav navbar-nav navbar-form navbar-left">
                                <span>
                    <span class="breadcrumbPanel">
                        <select tabindex="-1" class="autoComplete form-control select2-remote select2-hidden-accessible" style="width: 100%" name="theme:footer:breadcrumbs:breadcrumbs" id="breadcrumbs1e" aria-hidden="true"></select><span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-breadcrumbs1e-container"><span class="select2-selection__rendered" id="select2-breadcrumbs1e-container"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        <!--
                        <input wicket:id="breadcrumbs" type="hidden" class="autoComplete select2-remote" style="width: 100%; padding: 0" />
        -->
                    </span>
                </span>
                            </form>
        
                <ul class="nav navbar-nav"> </ul>
                <ul class="nav navbar-nav navbar-right">
                                <p class="navbar-text powered-by">Powered by:</p>
                                <li>
                                    <a href="http://isis.apache.org" tabindex="-1" target="_blank">Apache Isis ™</a>
                                </li>
                                <li>
                                    <a tabindex="-1" id="aboutLink" class="navbar-right" href=".">
                                        <span>About</span>
                                        <i class="fa fa-lg fa-warning text-danger" title="Running in Prototype (Development) mode!"></i>
                                    </a>
        
                                </li>
                                <li class="dropdown">
                    <a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">Change theme <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a tabindex="-1" id="themeLink1f" href="javascript:;">bootstrap-theme</a></li><li>
                            <a tabindex="-1" id="themeLink20" href="javascript:;">Cosmo</a></li><li>
                            <a tabindex="-1" id="themeLink21" href="javascript:;">Darkly</a></li><li class="active">
                            <a tabindex="-1" id="themeLink22" href="javascript:;">Flatly</a></li><li>
                            <a tabindex="-1" id="themeLink23" href="javascript:;">Sandstone</a></li><li>
                            <a tabindex="-1" id="themeLink24" href="javascript:;">United</a></li>
                    </ul>
                </li>
                            </ul>
                        </div>
                    </div>
        
                    </footer>