<div id="container" class="page container-fluid">
  <div class="application-name">
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a tabindex="-1" class="navbar-brand" href="."><span>Application Name</span></a>
          </div>
          <div class="navbar-collapse app-actions collapse navbar-left" >
            <ul class="nav navbar-nav primary">
                <ng-container *ngFor="let menu of topMenus[0]; let i = index;">
              <top-menu #topmenu (onTopMenuObsolete)="handleOnTopMenuObsolete(i)" (onMenuPositionKnown)="handleOnMenuPositionKnown($event,i)" [name]='menu' [items]='menuItems(menu)'>
              </top-menu>
                </ng-container>
            </ul>
            <div class="navbar-collapse app-actions collapse navbar-right">
              <ul class="nav navbar-nav secondary">
                <ng-container  *ngFor="let menu of topMenus[1]; let i = index;">
                    <top-menu [hidden]="true" #topmenu (onTopMenuObsolete)="handleOnTopMenuObsolete(i)" (onMenuPositionKnown)="handleOnMenuPositionKnown($event,i)" [name]='menu' [items]='menuItems(menu)'>
                    </top-menu>
                </ng-container>
              </ul>
              <ul class="nav navbar-nav tertiary">
                <ng-container *ngFor="let menu of topMenus[2]; let i = index;">
                  <top-menu #topmenu [hidden]="true" (onTopMenuObsolete)="handleOnTopMenuObsolete(i)" (onMenuPositionKnown)="handleOnMenuPositionKnown($event,i)" [name]='menu' [items]='menuItems(menu)'>
                  </top-menu>
                </ng-container>
                <div hidden>
             <ul class="nav navbar-nav hidden">
                <ng-container *ngFor="let menu of unorderedMenus; let i = index;">
              <top-menu #topmenu [hidden]="true" (onTopMenuObsolete)="handleOnTopMenuObsolete(i)" (onMenuPositionKnown)="handleOnMenuPositionKnown($event,i)" [name]='menu' [items]='menuItems(menu)'>
              </top-menu>
                </ng-container>
            </ul></div>
              </ul>
            </div>
          </div>
        </div>
    </header>
</div>
</div>
TODO:WebsiteName
      <template #placeHolder>
      </template>

      <app-footer></app-footer>
<style>
   .container {
     border-radius: 10px;
     border: 10px solid black; 
   }
   .cursor-draggable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
  </style>