<div id="container" class="page container-fluid">
  <div class="application-name">
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a tabindex="-1" class="navbar-brand" href="."><span>Application Name</span></a>
          </div>
          <div class="navbar-collapse app-actions collapse navbar-left" >
            <ul class="nav navbar-nav primary">
               <li class="dropdown">
                  <a tabindex="-1" 
                      href="javascript:;" 
                      class="dropdown-toggle" 
                      data-toggle="dropdown" >
                      <span>Contacts</span> 
                <span class="caret"></span></a>
                <ul class="dropdown-menu scrollable-menu multi-level top-menu-contacts" role="menu">
                <menu-bar #primaryMenu ></menu-bar>
                </ul>
              </li>
            </ul>
            <div class="navbar-collapse app-actions collapse navbar-right">
              <ul class="nav navbar-nav secondary">

               <li class="dropdown">
                  <a tabindex="-1" 
                      href="javascript:;" 
                      class="dropdown-toggle" 
                      data-toggle="dropdown" >
                      <span>Security</span> 

                <span class="caret"></span></a>
                <ul class="dropdown-menu scrollable-menu multi-level top-menu-contacts" role="menu">
                <menu-bar #secondaryMenu> </menu-bar>
              </ul>
              </li>
              </ul>

              <ul class="nav navbar-nav tertiary">
               <li class="dropdown">
                  <a tabindex="-1" 
                      href="javascript:;" 
                      class="dropdown-toggle" 
                      data-toggle="dropdown" >
                      <span>{{getTertiartyHeader()}}</span> 

                <span class="caret"></span></a>
                <ul class="dropdown-menu scrollable-menu multi-level top-menu-contacts" role="menu">
                <menu-bar #tertiaryMenu> </menu-bar>
              </ul>
              </li>
              </ul>
            </div>
          </div>
        </div>
    </header>
</div>
</div>
TODO:WebsiteName
      <template #desktop>
      </template>

      <app-footer></app-footer>
<style>
   .container {
     border-radius: 10px;
     border: 10px solid black; 
   }
   .cursor-draggable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
  </style>